<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!-- Cấu hình bean sử dụng setter, DI sử dụng setter -->
  <bean id="Mess1" class="com.github.truongbb.Message">
    <property name="message" value="inject by setter"/>
    <!-- set giá trị cho message thông qua thuộc tính value, đây là set giá trị thông qua setter -->
  </bean>

  <!-- Cấu hình bean sử dụng constructor, DI sử dụng constructor -->
  <bean id="Mess2" class="com.github.truongbb.Message">
    <constructor-arg value="inject by constructor" type="String"></constructor-arg>
    <!-- set giá trị cho message thông qua thuộc tính value, đây là set giá trị thông qua constructor, kiểu String -->
  </bean>
</beans>
